@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;1,400&display=swap");

:root {
  --color-background: #f6f1e9;
  --color-text: #2f2b27;
  --color-accent: #c5a474;
}





* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;

  background-color: var(--color-background);
}

body {
  min-width: 320px;
}